

<div class="container" ng-controller="FeedCtrl" >
   <div class="row">
         <div class="col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" ng-model='rssFeed' placeholder="Enter Feed Url...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="updateModel()">Go!</button>
                </span>
              </div><!-- /input-group -->

              <div class="top-offset-3">
                <h3>Rss feed history</h3>
                <ul class="list-group">
                   <li class="list-group-item" ng-repeat="urlHistorys in urlHistory track by $index">
                    <span class="badge removeitem" ng-click="removeHistory()">X</span>
                    <a class="url-item" ng-click="updateModel('{{urlHistorys}}')">{{urlHistorys}}</a>
                    </li>
                </ul>
              </div>
            </div>



         <div class="col-md-7">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Quick Search:</span>
            <input type="text" placeholder="Search for..." ng-model="searchText" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <ul class="unstyled">
                <li ng-repeat="feed in feeds | filter:searchText">                    
                    <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>                                        
                    <p class="text-left">{{feed.contentSnippet}}</p>                    
                    <span class="small">{{feed.publishedDate}}</span>
                </li>                
            </ul>   
         </div>
  </div>
</div>